body {
        background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRI0-0swjPhsibZ7fOauPtLUUjQcvCLj6BgJ84PnPmSyFM39f_Lb_qHYTEI");
      
         background-repeat:no-repeat;

   background-size:cover;
        
   
       
          }
